<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cristina's Bloggo</title>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body class="main-page">

    <main role="main" class="content">
    <aside class="index-navigation">
      <div class="bio">
        <h1>Cristina's Super Bloggo</h1>
        <h3>Designer who likes to code</h3>

        <p>Likes: Cars, Biking, Narragansett, Cooking &amp; Trying to Keep Her
        Plants Alive</p>
      </div>

      <div class="blog-links">
        <div class="blog-tags">
          <h4>Posts about:</h4>
          <% blog.tags.each do |tag, articles| %>
            <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
          <% end %>
        </div>
        <ul class="social-links">
          <li><%= link_to "Twitter", "https://twitter.com" %></li>
          <li><%= link_to "Dribbble", "https://dribbble.com" %></li>
          <li><%= link_to "Instagram", "https://instagram.com" %></li>
          <li><%= link_to "Github", "https://github.com" %></li>
        </ul>
      </div>
    </aside>

    <%= yield %>

    </main>

    <%= partial "partials/analytics" %>
  </body>
</html>
